{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-clean-order",
        "stylelint-config-tailwindcss"
    ],
    "plugins": [
        "stylelint-prettier"
    ],
    "rules": {
        "prettier/prettier": [
            true,
            {
                "singleQuote": true
            }
        ],
        "declaration-block-no-redundant-longhand-properties": null,
        "selector-class-pattern": null,
        "value-keyword-case": [
            "lower",
            {
                "ignoreFunctions": ["theme"]
            }
        ],
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": ["mixin", "include", "screen", "tailwind", "import"]
            }
        ],
        "unit-no-unknown": [
            true,
            {
                "ignoreFunctions": ["theme"]
            }
        ],
        "function-no-unknown": [
            true,
            {
                "ignoreFunctions": ["theme"]
            }
        ],
        "declaration-property-value-no-unknown": [
            true,
            {
                "ignoreProperties": {
                    "/^.*/": ["/theme(.*)/"]
                }
            }
        ],
        "no-invalid-position-at-import-rule": null,
        "import-notation": null
    }
}
