.c-accordion {
    width: 100%;

    &__item {
    }

    &__heading {
        display: flex;
        gap: theme(spacing.5);
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: theme(spacing.5) 0;
    }

    &__title {
        font-weight: 700;
        line-height: 1.2;
        font-size: theme(fontSize.md);
    }

    &__count {
        margin-left: theme(spacing.5);
        display: inline-block;
        background-color: theme(colors.black / 20%);
        font-weight: 700;
        border-radius: 999px;
        padding: theme(spacing[0.5]) theme(spacing.2);

        @screen md-max {
            font-size: theme(fontSize.sm);
        }
    }

    &__icon {
        width: var(--icon-size);
        height: var(--icon-size);
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: theme(spacing[0.5]);
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: currentColor;
            transform-origin: center;
            transition-property: transform;
            transform: translate(-50%, -50%) rotate(var(--rotation, 0));
        }

        &:after {
            --rotation: 90deg;
        }

        .is-open & {

            &:after {
                --rotation: 0;
            }
        }
    }

    &__btn {
        --icon-size: theme(spacing.4);
        width: theme(spacing.6);
        height: theme(spacing.6);
        display: flex;
        justify-content: center;
        align-items: center;

        .i-icon {
            transition-property: transform;
        }

        &.is-open {

            .i-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__item {

        &:not(:first-child) {
            border-top: 1px solid theme(colors.gray.200);
        }
    }

    &__collapse-inner {
        padding-bottom: theme(spacing.8);
    }
}
