.c-badge {
    --badge-size: --spacing(4);

    display: inline-flex;
    flex-shrink: 0;
    gap: --spacing(1);
    align-items: center;
    justify-content: center;

    min-width: var(--badge-size);
    height: var(--badge-size);
    padding: 0 --spacing(1);
    border-radius: var(--radius-full);

    font-size: var(--text-xs);
    font-weight: 700;
    line-height: 1;
    color: var(--color-text);
    vertical-align: middle;

    background-color: var(--color-gray-light);

    &--primary {
        color: var(--color-white);
        background-color: var(--color-primary);
    }
}
