.c-badge {
    --badge-size: theme(spacing.4);

    display: inline-flex;
    flex-shrink: 0;
    gap: theme(spacing.1);
    align-items: center;
    justify-content: center;

    min-width: var(--badge-size);
    height: var(--badge-size);
    padding: 0 theme(spacing.1);
    border-radius: theme(borderRadius.full);

    font-size: theme(fontSize.xs);
    font-weight: 700;
    line-height: 1;
    color: theme(colors.text);
    vertical-align: middle;

    background-color: theme(colors.gray.200);

    &--primary {
        color: theme(colors.white);
        background-color: theme(colors.primary.DEFAULT);
    }
}
