.c-breadcrumbs {
    position: relative;
    margin-bottom: theme(spacing.page);

    &__list {
        display: flex;
        white-space: nowrap;
    }

    &__item {
        display: flex;
        flex-shrink: 0;
        align-items: center;

        &:not(:last-child) {
            &::after {
                content: '/';
                margin: 0 theme(spacing.3);
            }
        }

        &:last-child {
            opacity: 0.5;
        }
    }
}
