.c-breadcrumbs {
    --breadcrumbs-fz: theme(fontSize.xs);
    --breadcrumbs-pt: theme(spacing.5);
    --breadcrumbs-mb: var(--page-space);

    position: relative;
    line-height: 1;
    font-size: var(--breadcrumbs-fz);
    padding-top: var(--breadcrumbs-pt);
    margin-bottom: var(--breadcrumbs-mb);

    &__list {
        display: flex;
        white-space: nowrap;
    }

    &__item {
        flex-shrink: 0;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            &:after {
                content: '/';
                margin: 0 theme(spacing.3);
            }
        }

        &:last-child {
            opacity: 0.5;
        }
    }
}
