@import '@splidejs/splide/css/core';

.splide {
    contain: layout;
    overflow: hidden;
    visibility: inherit;
    transition-property: visibility;

    &.is-initialized,
    &.is-rendered {
        visibility: inherit;
    }

    &__track {
        overflow: visible;
    }

    &__slide {
        display: flex;
        width: 90%;
        margin-right: var(--spacing-col);
    }

    &__inner {
        position: relative;
    }

    &__arrows {
        display: none;
        gap: --spacing(5);
        align-items: center;
        transition-property: opacity, visibility;
    }

    &__arrow {
        &:disabled {
            opacity: 0.5;
        }
    }

    &__pagination {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        margin-top: --spacing(5);

        .splide:not(.is-overflow) & {
            display: flex;
        }

        li {
            display: flex;
            flex-grow: 1;
        }

        &__page {
            position: relative;
            width: 100%;
            height: --spacing(1);
            background-color: var(--color-gray-light);

            &::before {
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                display: block;

                width: var(--carousel-progress, 100%);
                height: 100%;

                opacity: 0;
                background-color: var(--color-primary);

                transition-property: opacity;
            }

            &:hover {
                background-color: var(--color-primary-hover);
            }

            &.is-active {
                background-color: var(--color-primary-hover);

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

@variant md {
    .splide {
        &__slide {
            width: 100%;

            .splide--3 & {
                width: calc(50% - var(--spacing-col) * 1 / 2);
            }

            .splide--2 & {
                width: calc(50% - var(--spacing-col) * 1 / 2);
            }
        }

        &__track {
            overflow: hidden;
        }

        &__arrows {
            display: flex;
        }

        &__pagination {
            margin-top: 0;
        }
    }
}

@variant xl {
    .splide {
        &__slide {

            .splide--3 & {
                width: calc(33.333% - var(--spacing-col) * 2 / 3);
            }
        }
    }
}
