.embla {
    --slide-spacing: var(--spacing-col);
    --slide-size: 90%;

    contain: layout;
    overflow: hidden;

    /* &__viewport {} */

    &__list {
        touch-action: pan-y pinch-zoom;
        display: flex;
        margin-left: calc(var(--slide-spacing) * -1);
    }

    &__slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 var(--slide-size);
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    &__controls {
        display: flex;
        gap: var(--spacing-col);
        align-items: center;
    }

    &__pagination {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        justify-content: center;
    }

    &__dot {
        position: relative;
        width: 100%;
        height: --spacing(1);
        background-color: var(--color-gray-light);

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: var(--carousel-progress, 100%);
            height: 100%;

            opacity: 0;
            background-color: var(--color-primary);

            transition-property: opacity;
        }

        &:hover {
            background-color: var(--color-primary-hover);
        }

        &--selected {
            background-color: var(--color-primary-hover);

            &::before {
                opacity: 1;
            }
        }
    }
}

@variant md {
    .embla {
        --slide-size: 100%;

        &--3 {
            --slide-size: 50%;
        }

        &--2 {
            --slide-size: 50%;
        }

        &__track {
            overflow: hidden;
        }
    }
}

@variant xl {
    .embla {
        &--3 {
            --slide-size: 33.333%;
        }
    }
}
