@import '@splidejs/splide/css/core';

.c-carousel {
    overflow: hidden;
    --btn-size: theme(spacing.10);
    --heading-space: theme(spacing.5);

    @screen lg {
        --heading-space: theme(spacing.10);
    }

    @screen xl {
        --btn-size: theme(spacing.15);
    }

    .splide {

        &__slide {
            width: 100%;
            display: flex;
            margin-right: var(--col-gap);
        }

        &__arrows {
            display: flex;
            gap: theme(spacing.5);
            margin-bottom: calc(-1 * theme(spacing.2));
        }

        &__arrow {
            width: var(--btn-size);
            height: var(--btn-size);
            display: grid;
            place-items: center;
            --icon-size: calc(var(--btn-size) * 0.5);

            @screen md-max {
                display: none;
            }

            &:disabled {
                opacity: .3;
            }

            &--prev {
                transform: rotate(180deg);
            }
        }

        &__track {
            width: 100%;
            overflow: visible;
        }

        &__pagination {
            width: 100%;
            gap: theme(spacing.2);
            margin-top: theme(spacing.4);

            li {
                line-height: 0;
            }

            &__page {
                width: theme(spacing[2.5]);
                height: theme(spacing[2.5]);
                border-radius: 99px;
                background-color: currentColor;

                &:not(.is-active) {
                    opacity: .25;
                }
            }
        }
    }

    &__inner {
        position: relative;

        /* @screen md {
            overflow: hidden;
        } */
    }

    &__heading {
        margin-bottom: var(--heading-space);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    &--4 {

        .splide__slide {
            width: 95%;

            @screen sm {
                width: calc(50% - var(--col-gap) * 1 / 2);
            }

            @screen lg {
                width: calc(33.333% - var(--col-gap) * 2 / 3);
            }

            @screen xl {
                width: calc(25% - var(--col-gap) * 3 / 4);
            }
        }
    }

    &--3 {

        .splide__slide {
            width: 95%;

            @screen md {
                width: calc(50% - var(--col-gap) * 1 / 2);
            }

            @screen xl {
                width: calc(33.333% - var(--col-gap) * 2 / 3);
            }
        }
    }

    &--2\.5 {

        .splide__slide {
            width: 90%;

            @screen md {
                width: calc(60% - var(--col-gap) * 1 / 2);
            }

            @screen lg {
                width: calc(40% - var(--col-gap) * 1 / 2);
            }
        }
    }

    &--2 {

        .splide__slide {
            width: 95%;

            @screen md {
                width: calc(50% - var(--col-gap) * 1 / 2);
            }
        }
    }
}
