.c-collapse {
    --collapse-toggle-gap: theme(spacing.2);
    --collapse-toggle-py: theme(spacing.4);
    --collapse-toggle-px: 0;
    --collapse-angle-size: theme(spacing[2.5]);

    &__toggle {
        position: relative;

        display: flex;
        gap: var(--collapse-toggle-gap);
        align-items: center;

        padding: var(--collapse-toggle-py) var(--collapse-toggle-px);

        text-align: left;
    }

    &__icon {
        position: relative;

        display: block;
        flex-shrink: 0;

        width: var(--icon-size);
        height: var(--icon-size);

        font-size: var(--collapse-angle-size);

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%);
            transform: translate(-50%, -50%) rotate(var(--rotation, 0));

            width: 100%;
            height: 2px;

            background-color: currentcolor;

            transition-property: transform;
        }

        &::after {
            --rotation: 90deg;
        }

        .is-active & {
            &::after {
                --rotation: 0;
            }
        }
    }

    &__arrow {
        font-size: var(--collapse-angle-size);
        transition-property: transform;

        .is-active & {
            transform: rotate(270deg);
        }
    }

    &__panel {
        &:not(.is-shown) {
            display: none;
        }
    }
}

.is-collapsing {
    overflow: hidden;
    height: 0;
    transition-property: height;
}
