.c-cookies {
    position: fixed;
    z-index: 9999;
    bottom: var(--spacing-box);
    left: var(--spacing-box);
    transform: translateY(10px);

    display: flex;
    flex-direction: column;
    gap: --spacing(3) --spacing(6);

    width: calc(100% - var(--spacing-box) * 2);
    max-width: 37rem;
    padding: var(--spacing-box);

    color: var(--color-white);

    visibility: hidden;
    opacity: 0;
    background: var(--color-primary);

    transition-property: opacity, transform, visibility;

    .is-cookies-visible & {
        transform: none;
        visibility: visible;
        opacity: 1;
    }

    .f-btn {
        width: 100%;
    }

    &__icon {
        font-size: var(--text-3xl);
    }
}

@variant sm {
    .c-cookies {
        flex-direction: row;
        align-items: center;

        .f-btn {
            width: auto;
            margin-left: auto;
        }
    }
}
