.c-cookies {
    position: fixed;
    z-index: 9999;
    bottom: theme(spacing.box);
    left: theme(spacing.box);
    transform: translateY(10px);

    display: flex;
    flex-direction: column;
    gap: theme(spacing.3) theme(spacing.6);

    width: calc(100% - theme(spacing.box) * 2);
    max-width: 37rem;
    padding: theme(spacing.box);

    color: theme(color.white);

    visibility: hidden;
    opacity: 0;
    background: theme(color.primary.DEFAULT);

    transition-property: opacity, transform, visibility;

    .is-cookies-visible & {
        transform: none;
        visibility: visible;
        opacity: 1;
    }

    .f-btn {
        width: 100%;
    }

    &__icon {
        font-size: theme(fontSize.3xl);
    }
}

@screen sm {
    .c-cookies {
        flex-direction: row;
        align-items: center;

        .f-btn {
            width: auto;
            margin-left: auto;
        }
    }
}
