.c-logo {
    width: 100%;

    svg,
    svg > * {
        fill: currentColor;
    }

    svg,
    img {
        width: 100%;
        height: auto;
    }

    &__link {
        display: block;
    }
}
