.is-modal-open {
    overflow: hidden;
}

.m-modal {
    --modal-zindex: theme(zIndex.modal);
    --modal-offset: theme(spacing.5);
    --modal-bg: theme(colors.white);
    --modal-color: theme(colors.text);
    --modal-border-radius: 0;
    --modal-inner-px: theme(spacing.6);
    --modal-inner-py: theme(spacing.6);
    --modal-max-width: 32rem;
    --modal-close-icon-size: theme(spacing.4);

    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: var(--modal-zindex);
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    opacity: 0;
    padding: 0 var(--modal-offset);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(
        calc(var(--modal-transition-progress) * var(--blur-value))
    );
    transition-property: opacity;

    &:before {
        content: '';
        display: block;
        position: fixed;
        inset: 0;
        background-color: var(--blur-bg);
    }

    &.is-shown {
        opacity: 1;
    }

    &.m-modal--xs {
        --modal-max-width: 18rem;
    }

    &.m-modal--sm {
        --modal-max-width: 25rem;
    }

    @screen md {
        &.m-modal--md {
            --modal-max-width: 44rem;
        }
    }

    @screen lg {
        &.m-modal--lg {
            --modal-max-width: 64rem;
        }
    }
}

.m-dialog {
    position: relative;
    width: auto;
    margin: var(--modal-offset) auto;
    pointer-events: none;
    max-width: var(--modal-max-width);
    transform: translateY(calc((1 - var(--modal-transition-progress)) * -20px));

    .m-modal--centered & {
        display: flex;
        align-items: center;
        min-height: calc(100% - var(--modal-offset) * 2);
    }
}

.m-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    color: var(--modal-color);
    background-color: var(--modal-bg);
    border-radius: var(--modal-border-radius);
    background-clip: padding-box;
    overflow: hidden;
    outline: 0;

    .m-modal--stretch & {
        min-height: 100%;
    }

    .m-modal--aside & {
        min-height: 100%;
        border-radius: 0;
    }
}

.m-close {
    display: grid;
    place-content: center;
    position: absolute;
    font-size: var(--modal-close-icon-size);
    top: theme(spacing.5);
    right: theme(spacing.5);
    padding: theme(spacing.3);
    margin: calc(theme(spacing.3) * -1);
    flex-shrink: 0;

    .m-header & {
        position: static;
        margin-left: auto;
    }
}

.m-header {
    --modal-inner-py: theme(spacing.4);
    display: flex;
    align-items: flex-start;
    padding: var(--modal-inner-py) var(--modal-inner-px);
    border-bottom: 1px solid;
}

.m-body {
    width: 100%;
    padding: var(--modal-inner-py) var(--modal-inner-px);

    .m-header + & {
        --modal-inner-py: var(--modal-inner-px);
    }
}

.m-footer {
    --modal-inner-py: theme(spacing.3);
    padding: var(--modal-inner-py) var(--modal-inner-px);
    border-top: 1px solid;
}
