.is-modal-open {
    overflow: hidden;
}

.c-modal {
    --modal-offset: theme(spacing.5);
    --modal-px: theme(spacing.box);
    --modal-py: theme(spacing.10);
    --modal-max-width: 32rem;

    position: fixed;
    z-index: theme(zIndex.modal);
    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;
    display: none;

    width: 100%;
    height: 100%;
    padding: 0 var(--modal-offset);

    opacity: var(--modal-transition-progress);
    backdrop-filter: blur(
        calc(var(--modal-transition-progress) * var(--blur-value))
    );
    outline: 0;

    &::before {
        content: '';

        position: fixed;
        inset: 0;

        display: block;

        background-color: var(--blur-bg);
    }

    &__dialog {
        pointer-events: none;

        position: relative;
        transform: translateY(
            calc((1 - var(--modal-transition-progress)) * -20px)
        );

        display: flex;
        align-items: center;

        width: auto;
        max-width: var(--modal-max-width);
        min-height: calc(100% - var(--modal-offset) * 2);
        margin: var(--modal-offset) auto;
    }

    &__content {
        pointer-events: auto;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        min-height: 20rem;

        color: theme(colors.text);

        background-color: theme(colors.white);
        background-clip: padding-box;
        outline: 0;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;

        padding: theme(spacing.3);

        font-size: theme(spacing.4);
    }

    &__body {
        width: 100%;
        padding: theme(spacing.6);
    }
}

.c-modal--xs {
    --modal-max-width: 18rem;
}

.c-modal--sm {
    --modal-max-width: 25rem;
}

@screen md {
    .c-modal--md {
        --modal-max-width: 44rem;
    }
}

@screen lg {
    .c-modal--lg {
        --modal-max-width: 64rem;
    }
}
