.is-modal-open {
    overflow: hidden;
}

.c-modal {
    --modal-offset: --spacing(5);
    --modal-px: var(--spacing-box);
    --modal-py: --spacing(10);
    --modal-max-width: 32rem;

    position: fixed;
    z-index: var(--z-index-modal);
    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;
    display: none;

    width: 100%;
    height: 100%;
    padding: 0 var(--modal-offset);

    opacity: var(--modal-transition-progress);
    backdrop-filter: blur(calc(var(--modal-transition-progress) * var(--blur)));
    outline: 0;

    &::before {
        content: '';

        position: fixed;
        inset: 0;

        display: block;

        background-color: var(--color-backdrop);
    }

    &__dialog {
        pointer-events: none;

        position: relative;
        transform: translateY(
            calc((1 - var(--modal-transition-progress)) * -5px)
        );

        display: flex;
        align-items: center;

        width: auto;
        max-width: var(--modal-max-width);
        min-height: calc(100% - var(--modal-offset) * 2);
        margin: var(--modal-offset) auto;
    }

    &__content {
        pointer-events: auto;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        min-height: 20rem;

        color: var(--color-text);

        background-color: var(--color-white);
        background-clip: padding-box;
        outline: 0;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;

        padding: --spacing(3);

        font-size: --spacing(4);
    }

    &__body {
        width: 100%;
        padding: --spacing(6);
    }
}

.c-modal--xs {
    --modal-max-width: --spacing(72);
}

.c-modal--sm {
    --modal-max-width: --spacing(100);
}

@variant md {
    .c-modal--md {
        --modal-max-width: --spacing(176);
    }
}

@variant lg {
    .c-modal--lg {
        --modal-max-width: --spacing(256);
    }
}
