.c-nav {
    font-weight: 700;
    white-space: nowrap;

    &__list {
        display: flex;
        margin: calc(theme(spacing.5) * -1);
    }

    &__link {
        padding: theme(spacing.5);
        display: block;
    }
}
