.c-pagination {
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
    }

    &__item {
        &.is-prev,
        &.is-next {
            display: none;
        }

        &.is-prev {
            margin-right: auto;
        }

        &.is-next {
            margin-left: auto;
        }
    }

    @screen lg {
        &__item {
            &.is-prev,
            &.is-next {
                display: block;
            }
        }
    }
}
