.c-pagination {
    text-align: center;
    margin-top: 32px;

    &__list {
        display: inline-flex;
        flex-wrap: wrap;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
    }

    &__item {
        padding-left: 5px;
        padding-right: 5px;

        &.is-disabled {
            pointer-events: none;
            opacity: .2;
        }

        &.is-active {
            pointer-events: none;
        }

        &.is-prev,
        &.is-next {
            display: none;

            @screen lg {
                display: block;
            }

            .i-icon {
                width: 15px;
                height: 15px;
            }
        }

        &.is-prev {
            padding-left: 0;
            margin-right: 16px;
        }

        &.is-next {
            padding-right: 0;
            margin-left: 16px;
        }
    }

    &__link {
        font-weight: 700;
        min-width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        a&:hover{
            background-color: theme(colors[black]);
        }

        .is-active & {
            background-color: theme(colors[primary]);
            color: theme(colors[black]);
        }
    }
}
