.c-socials {
    --socials-fz: theme(spacing.6);
    --socials-padding: theme(spacing.4);
    --socials-gap: 0;

    font-size: var(--socials-fz);

    &__list {
        display: flex;
        gap: var(--socials-gap);
        margin: calc(var(--socials-padding) * -1);
    }

    &__link {
        padding: var(--socials-padding);
        display: block;
    }
}
