.c-socials {
    --icon-size: 24px;

    .i-icon {
        width: var(--icon-size);
        height: var(--icon-size);
    }

    &__list {
        display: flex;
        margin: -16px;
    }

    &__link {
        padding: 16px;
        display: block;
    }
}
