.c-tooltip {
    position: fixed;
    z-index: theme(zIndex.tooltip);
    top: 0;
    left: 0;

    display: none;

    width: max-content;
    margin: 0;
    padding: theme(spacing.5);
    border: 2px solid theme(color.black);

    font-size: theme(fontSize.sm);
    color: theme(color.text);

    opacity: var(--tooltip-transition-progress);
    background: theme(color.body);

    &__arrow {
        position: absolute;
        z-index: 1;

        width: theme(spacing[2.5]);
        height: theme(spacing[2.5]);
        border: inherit;
        border-right-width: 0;
        border-bottom-width: 0;

        background: inherit;
    }
}
