.c-tooltip {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0px;
    width: max-content;
    max-width: theme(spacing.50);
    background-color: theme(colors.white);
    box-shadow: theme(boxShadow.md);
    color: theme(colors.black);
    font-size: theme(fontSize.xs);
    z-index: theme(zIndex.tooltip);
    padding: theme(spacing.2) theme(spacing.3);
    line-height: theme(lineHeight.tight);
    border-radius: theme(borderRadius.sm);
    will-change: transform, opacity, visibility;
    transition-property: opacity,
        visibility;
    opacity: 0;
    visibility: hidden;

    &[data-show] {
        visibility: visible;
        opacity: 1;
    }

    &__arrow {
        position: absolute;
        width: theme(spacing.2);
        height: theme(spacing.2);
        transform: rotate(45deg);
        background: inherit;
    }
}
