.c-tooltip {
    position: fixed;
    z-index: var(--z-index-tooltip);
    top: 0;
    left: 0;

    display: none;

    width: max-content;
    margin: 0;
    padding: --spacing(5);
    border: 2px solid var(--color-black);

    font-size: var(--text-sm);
    color: var(--color-text);

    opacity: var(--tooltip-transition-progress);
    background: var(--color-body);

    &__arrow {
        position: absolute;
        z-index: 1;

        width: --spacing(2.5);
        height: --spacing(2.5);
        border: inherit;
        border-right-width: 0;
        border-bottom-width: 0;

        background: inherit;
    }
}
