.c-title {
    display: block;
    font-weight: 700;
    line-height: 1.2;

    &--h1 {
        font-size: theme(fontSize.4xl);
    }

    &--h2 {
        font-size: theme(fontSize.3xl);
    }

    &--h3 {
        font-size: theme(fontSize.2xl);
    }
}
