.c-title {
    display: block;
    font-weight: 700;
    line-height: 1.2;

    &--h1 {
        font-size: var(--text-4xl);
    }

    &--h2 {
        font-size: var(--text-3xl);
    }

    &--h3 {
        font-size: var(--text-2xl);
    }
}
