<div class="c-cookies {{ class }}" data-cookies>
    <div class="c-cookies__icon">
        {% include '_app/icon.twig' with { name: 'cookies' } only %}
    </div>

    <div class="c-cookies-text">
        <p>Наш сайт використовує кукі.</p>
        <p><a href="#" class="underline u-link-opacity">Для чого це&nbsp;нам потрібно</a></p>
    </div>

    <button type="button" class="f-btn f-btn--white rounded-full" data-cookies-submit>Прийняти</button>
</div>
