<div class="c-cookies" data-cookies>
    <div class="c-cookies-text">Переглядаючи сайт <b>LVIV.MEDIA</b> ви погоджуєтеся з нашою <a href="#" class="c-cookies-link">Політикою конфіденційності</a></div>

    <button type="button" class="f-btn f-btn--gradient f-btn--sm" data-cookies-btn>Прийняти усі</button>
</div>
