<div class="c-ideil">
    <a class="c-ideil__link" rel="noopener" target="_blank" href="https://www.ideil.com/">
        зроблено в

        <span class="sr-only">ideil.</span>

        {% include "../../img/svg/ideil.svg" %}
    </a>
</div>
