<div class="c-logo {{ class }}">
    <a class="c-logo__link" href="./home.html">
        <span class="sr-only">{{ app.brandName }}</span>
        {% include "../../img/svg/ideil.svg" %}
    </a>
</div>
