/* Scroll */
.u-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-grow: 1;
    margin: 0 calc(theme(spacing[2.5]) * -1);

    @screen sm {
        margin: 0 calc(theme(spacing.5) * -1);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &:after,
    &:before {
        content: '';
        display: block;
        flex-shrink: 0;
        width: theme(spacing[2.5]);

        @screen sm {
            width: theme(spacing.5);
        }
    }

    @screen lg {

        &::-webkit-scrollbar {
            display: block;
        }
    }
}
.u-scroll--shadow {
    position: relative;

    &:after,
    &:before {
        content: '';
        z-index: 2;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: theme(spacing[2.5]);
        background-image: linear-gradient(to left, theme(colors.body / 0%), theme(colors.body));

        @screen sm {
            width: theme(spacing.5);
        }
    }

    &:before {
        left: calc(theme(spacing[2.5]) * -1);

        @screen sm {
            left: calc(theme(spacing.5) * -1);
        }
    }

    &:after {
        right: calc(theme(spacing[2.5]) * -1);
        transform: rotate(180deg);

        @screen sm {
            right: calc(theme(spacing.5) * -1);
        }
    }
}

/* Cover */
.u-cover {
    display: block;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Custom */
.u-gradient {
    @mixin background-gradient;
}
