<div class="c-tooltip" id="testTooltip" role="dialog">
    <div class="c-tooltip__inner">
        <p class="mb-3">Тестовий тултіп</p>

        <button class="f-btn f-btn--primary-outline">1</button>
        <button class="f-btn f-btn--primary-outline">2</button>
        <button class="f-btn f-btn--primary-outline">3</button>
    </div>

    <div class="c-tooltip__arrow"></div>
</div>
