<footer class="c-footer">
    <div class="l-container c-footer__inner">
        <div class="c-footer__top">
            {% include "./logo.twig" with {
                class: 'c-footer__logo',
            } %}

            <dl class="c-footer__contacts">
                <dt class="sr-only">Email</dt>
                <dd class="c-footer__contacts-lg">
                    <a href="mailto:welcome@ideil.com">welcome@ideil.com</a>
                </dd>
                <dt class="sr-only">Телефон</dt>
                <dd>
                    <a href="tel:+380 332 28 50 43">+380 332 28 50 43</a>
                </dd>
            </dl>
        </div>

        <div class="c-footer__bottom">
            <div class="c-footer__copy">© {{ "now"|date("Y") }} <span class="whitespace-nowrap md:sr-only lg:not-sr-only">Всі права захищені</span></div>
            {% include "./ideil.twig" %}
        </div>
    </div>
</footer>
