<div class="c-ideil">
    <a class="c-ideil__link" rel="noopener" target="_blank" href="https://www.ideil.com/">
        <span class="sr-only">зроблено в ideil.</span>

        <img src="../img/svg/madeby-light_uk.svg" alt="ideil." height="18">
    </a>
</div>

