<div class="c-menu u-inverse" data-menu tabindex="-1">
    <div class="c-menu__inner">
        <div class="l-container">
            {% include "./nav.twig" with {
                class: 'c-menu__nav',
            } %}
            {% include "./socials.twig" with {
                class: 'c-menu__socials',
            } %}
        </div>
    </div>
</div>
