<div class="c-menu js-menu u-inverse" tabindex="-1">
    <div class="c-menu__inner">
        <div class="l-box">
            {% include "../_components/nav.twig" %}
            {% include "../_components/socials.twig" %}
        </div>
    </div>
</div>
