{% extends '_templates/base.twig' %}

{% set pageTitle = 'Головна' %}
{% set pageId = 'home' %}
{% set styleLinks = ['amp'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% block content %}
    <div class="container text-2xl flex items-center justify-center">
        {{ pageTitle }}
    </div>
{% endblock %}
