{% extends '_templates/base.twig' %}

{% set pageTitle = 'Головна' %}
{% set pageId = 'home' %}
{% set styleLinks = ['home'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% block content %}
    <div class="l-container">
        {{ pageTitle }}
    </div>
{% endblock %}
