{% extends '_templates/base.twig' %}

{% set pageTitle = 'Тестова сторінка' %}
{% set pageId = 'test' %}
{% set styleLinks = ['test'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% set modals %}
    {% include "_modals/test.twig" %}
    {% include "_modals/success.twig" %}
{% endset %}

{% set tooltips %}
    {% include "_tooltips/test.twig" %}
{% endset %}

{% block content %}
    {# Хлібні крихти #}
    <div class="container">
        {% include "_components/breadcrumbs.twig" %}
    </div>

    {# Модальне вікно #}
    <div class="text-center c-section container">
        <h2 class="c-title c-title--h3 mb-7">Модальне вікно</h2>

        <button class="f-btn f-btn--primary" aria-haspopup="dialog" aria-expanded="false" aria-controls="testModal" data-modal-target="#testModal">Приклад</button>
        <button class="f-btn f-btn--primary" aria-haspopup="dialog" aria-expanded="false" aria-controls="successModal" data-modal-target="#successModal">Успішна відправка</button>
    </div>

    {# Кнопки #}
    <div class="text-center c-section container">
        <h2 class="c-title c-title--h3 mb-7">Кнопки</h2>

        <div class="mb-3">
            <button class="f-btn" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary rounded-full" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn f-btn--primary">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary-outline" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn f-btn--primary-outline rounded-full">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--icon">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
            <button class="f-btn f-btn--primary f-btn--icon rounded-full">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
            <button class="f-btn f-btn--primary-outline f-btn--icon">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
        </div>
    </div>

    {# Скролл #}
    <div class="text-center c-section container">
        <h2 class="c-title c-title--h3 mb-7">Скролл</h2>

        <div class="bg-gray-light border-black border overflow-auto inline-block size-80 u-scroll">
            <div class="size-160 text-left">1</div>
        </div>
    </div>

    {# Тултіп #}
    <div class="text-center c-section container">
        <h2 class="c-title c-title--h3 mb-7">Тултіп</h2>

        <div class="mb-3">
            <button class="f-btn f-btn--primary" aria-controls="testModal" data-tooltip="Текст для прикладу">Hover Focus (default)</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary" aria-controls="testModal" data-tooltip-target="#testTooltip" data-tooltip-placement="bottom">Hover Focus (↓)</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary" aria-haspopup="dialog" aria-expanded="false" aria-controls="testModal" data-tooltip-type="hover clickable" data-tooltip-target="#testTooltip">Hover Clickable</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary" aria-haspopup="dialog" aria-expanded="false" aria-controls="testModal" data-tooltip-type="clickable" data-tooltip-target="#testTooltip" data-tooltip-placement="bottom">Clickable</button>
        </div>
    </div>

    {# Карусель #}
    {% for carouselIndex in 1..2 %}
        {% include '_carousels/test.twig' with {
            class: 'c-section embla--' ~ (carouselIndex + 1),
            pagination: carouselIndex == 1,
            index: carouselIndex
        } %}
    {% endfor %}

    {# Форма зворотнього зв'язку #}
    <div class="max-w-lg c-section container">
        <h2 class="c-title c-title--h3 mb-7">Форма зворотнього зв'язку</h2>

        <form class="">
            <div class="f-group">
                {% embed '_form/field.twig' with {
                    label: 'Ім\'я (Float)',
                    placeholder: 'Ім\'я',
                    isFloat: true,
                    name: 'name',
                } %}
                    {% block fieldBefore %}
                        <div class="f-icon">
                            {% include '_app/icon.twig' with {
                                name: 'star'
                            } only %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Прізвище',
                    placeholder: 'Прізвище',
                    error: 'Помилка',
                    name: 'surname',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Email',
                    placeholder: 'Email',
                    name: 'email',
                    type: 'email',
                    attrs: 'required'
                } %}
            </div>
            <div class="f-group">
                {% embed '_form/field.twig' with {
                    label: 'Номер телефону',
                    placeholder: '+380 00 000 00 00',
                    name: 'phone',
                    type: 'tel',
                    attrs: 'required'
                } %}
                    {% block fieldBefore %}
                        <div class="f-icon">
                            {% include '_app/icon.twig' with {
                                name: 'star'
                            } only %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="f-group">
                {% include '_form/textarea.twig' with {
                    label: 'Ваше запитання',
                    placeholder: 'Ваше запитання',
                    name: 'comment',
                    attrs: 'rows="2"'
                } %}
            </div>
            <div class="f-group">
                {% include '_form/counter.twig' with {
                    label: 'Кількість',
                    name: 'count',
                    error: 'Помилка',
                } %}
            </div>

            <div class="f-group">
                {% include '_form/rating.twig' with {
                    error: 'Помилка',
                } %}
            </div>
            <div class="p-5 rounded f-group bg-primary">
                {% include '_form/rating.twig' with {
                    error: 'Помилка',
                    icon: 'fire',
                    count: 3,
                    theme: 'secondary',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/check.twig' with {
                    label: 'Я погоджуюсь з умовами обробки персональних даних',
                    error: true,
                } %}
            </div>

            <div class="f-submit">
                <div class="f-info mb-2">Використовуючи сайт, ви&nbsp;приймаєте та&nbsp;погоджуєтеся з&nbsp;цими <a href="#">правилами та&nbsp;умовами використання</a> сайту</div>

                <button type="submit" class="f-btn f-btn--primary w-full rounded-full">Відправити</button>
            </div>
        </form>
    </div>
    <div class="max-w-lg c-section container">
        <h2 class="c-title c-title--h3 mb-7">Форма зворотнього зв'язку (VueJS)</h2>

        <div class="vue-feedback-form">
            <div class="f-group">
                {% embed '_form/field.twig' with {
                    label: 'Ім\'я',
                    placeholder: 'Ім\'я',
                    isFloat: true,
                    name: 'name',
                } %}
                    {% block fieldBefore %}
                        <div class="f-icon">
                            {% include '_app/icon.twig' with {
                                name: 'star'
                            } only %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Прізвище',
                    placeholder: 'Прізвище',
                    name: 'surname',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Email',
                    placeholder: 'Email',
                    error: 'Без електронної пошти ми не зможемо виконати реєстрацію',
                    name: 'email',
                    type: 'email',
                    attrs: 'required'
                } %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Номер телефону',
                    placeholder: '+380 00 000 00 00',
                    name: 'phone',
                    type: 'tel',
                    attrs: 'required'
                } %}
            </div>
            <div class="f-group">
                {% include '_form/textarea.twig' with {
                    label: 'Ваше запитання',
                    placeholder: 'Ваше запитання',
                    name: 'comment',
                    attrs: 'rows="3"'
                } %}
            </div>
            <div class="f-group">
                {% include '_form/counter.twig' with {
                    label: 'Кількість',
                    name: 'count',
                    error: 'Помилка',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/check.twig' with {
                    label: 'Я погоджуюсь з умовами обробки персональних даних',
                    type: 'checkbox',
                    name: 'agree1',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/check.twig' with {
                    label: 'Я погоджуюсь з умовами обробки персональних даних',
                    type: 'radio',
                    name: 'agree2',
                } %}
            </div>

            <div class="f-submit">
                <div class="f-info mb-2">Використовуючи сайт, ви&nbsp;приймаєте та&nbsp;погоджуєтеся з&nbsp;цими <a href="#">правилами та&nbsp;умовами використання</a> сайту</div>

                <button type="submit" class="f-btn f-btn--primary w-full rounded-full" disabled>Відправити</button>
            </div>
        </div>
    </div>

    {# Акордеон #}
    <div class="c-section container">
        <h2 class="c-title c-title--h3 mb-7">Акордеон</h2>

        {% include "_components/accordion.twig" %}
    </div>

    {# Карта #}
    <div class="c-section container">
        <h2 class="c-title c-title--h3 mb-7">Карта</h2>

        {% include "_components/map.twig" %}

        {% include "_components/pagination.twig" with { class: 'mt-3' } only %}
    </div>
{% endblock %}
