{% extends '_templates/base.twig' %}

{% set pageTitle = 'Тестова сторінка' %}
{% set pageId = 'test' %}
{% set styleLinks = ['test'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% set modals %}
    {% include "_modals/test.twig" %}
    {% include "_modals/success.twig" %}
{% endset %}

{% set tooltips %}
    {% include "_tooltips/test.twig" %}
{% endset %}

{% block content %}
    {# Хлібні крихти #}
    <div class="l-container">
        {% include "_components/breadcrumbs.twig" %}
    </div>

    {# Карусель #}
    {% for carouselIndex in 1..2 %}
        {% include '_carousels/test.twig' with {
            class: 'c-section splide--' ~ (carouselIndex + 1),
            pagination: carouselIndex == 1,
            index: carouselIndex
        } %}
    {% endfor %}

    {# Модальне вікно #}
    <div class="text-center c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Модальне вікно</h2>

        <button class="f-btn f-btn--primary" data-modal-target="#testModal">Приклад</button>
        <button class="f-btn f-btn--primary" data-modal-target="#successModal">Успішна відправка</button>
    </div>

    {# Кнопки #}
    <div class="text-center c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Кнопки</h2>

        <div class="mb-3">
            <button class="f-btn" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary f-btn--rounded" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn f-btn--primary">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary-outline" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn f-btn--primary-outline f-btn--rounded">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--gray f-btn--rounded" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn f-btn--gray">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--black-outline" disabled>
                {% include '_app/icon.twig' with { name: 'mark' } only %}
                Приклад
            </button>
            <button class="f-btn f-btn--black-outline f-btn--rounded">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--square">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
            <button class="f-btn f-btn--primary f-btn--square f-btn--rounded">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
            <button class="f-btn f-btn--primary-outline f-btn--square">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
            <button class="f-btn f-btn--gray f-btn--square f-btn--rounded">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
            <button class="f-btn f-btn--black-outline f-btn--square">
                {% include '_app/icon.twig' with { name: 'mark' } only %}
            </button>
        </div>
    </div>

    {# Тултіп #}
    <div class="text-center c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Тултіп</h2>

        <div class="mb-3">
            <button class="f-btn f-btn--primary" data-modal-target="#testModal" data-tooltip="Текст для прикладу">Приклад</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary" data-modal-target="#testModal" data-tooltip-target="#testTooltip" data-tooltip-placement="bottom">Приклад ↓</button>
        </div>
        <div class="mb-3">
            <button class="f-btn f-btn--primary" data-tooltip-type="clickable" data-tooltip-target="#testTooltip" data-tooltip-placement="bottom">Клікабельний</button>
        </div>
    </div>

    {# Форма зворотнього зв'язку #}
    <div class="max-w-sm c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Форма зворотнього зв'язку</h2>

        <form class="">
            <div class="f-group">
                {% embed '_form/field.twig' with {
                    label: 'Ім\'я (Float)',
                    placeholder: 'Ім\'я',
                    class: 'f-field--float',
                    isFloat: true,
                    name: 'name',
                } %}
                    {% block fieldBefore %}
                        <div class="f-field__icon">
                            {% include '_app/icon.twig' with {
                                name: 'star'
                            } only %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Прізвище',
                    placeholder: 'Прізвище',
                    error: 'Помилка',
                    name: 'surname',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/field.twig' with {
                    label: 'Email',
                    placeholder: 'Email',
                    name: 'email',
                    type: 'email',
                    attrs: 'required'
                } %}
            </div>
            <div class="f-group">
                {% embed '_form/field.twig' with {
                    label: 'Номер телефону',
                    placeholder: '+380 00 000 00 00',
                    name: 'phone',
                    type: 'tel',
                    attrs: 'required'
                } %}
                    {% block fieldBefore %}
                        <div class="f-field__icon">
                            {% include '_app/icon.twig' with {
                                name: 'star'
                            } only %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="f-group">
                {% include '_form/textarea.twig' with {
                    label: 'Ваше запитання',
                    placeholder: 'Ваше запитання',
                    name: 'comment',
                    attrs: 'rows="2"'
                } %}
            </div>
            <div class="f-group">
                {% include '_form/counter.twig' with {
                    label: 'Кількість',
                    name: 'count',
                    error: 'Помилка',
                } %}
            </div>

            <div class="f-group">
                {% include '_form/rating.twig' with {
                    error: 'Помилка',
                } %}
            </div>
            <div class="p-5 rounded f-group bg-primary">
                {% include '_form/rating.twig' with {
                    error: 'Помилка',
                    icon: 'fire',
                    count: 3,
                    class: 'f-field--light',
                    theme: 'secondary',
                } %}
            </div>
            <div class="f-group">
                {% include '_form/check.twig' with {
                    label: 'Я погоджуюсь з умовами обробки персональних даних',
                    error: true,
                } %}
            </div>

            <div class="f-submit">
                <div class="f-info">Використовуючи сайт, ви&nbsp;приймаєте та&nbsp;погоджуєтеся з&nbsp;цими <a href="#">правилами та&nbsp;умовами використання</a> сайту</div>

                <button type="submit" class="f-btn f-btn--primary f-btn--block f-btn--rounded">Відправити</button>
            </div>
        </form>
    </div>
    <div class="max-w-sm c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Форма зворотнього зв'язку (VueJS)</h2>

        <div class="vue-feedback-form">
            <form class="p-5 text-white pb-7 rounded-xl bg-text">
                <div class="f-group">
                    {% include '_form/field.twig' with {
                        label: 'Ім\'я',
                        placeholder: 'Ім\'я',
                        error: 'Помилка',
                        class: 'f-field--light',
                        name: 'name',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/field.twig' with {
                        label: 'Прізвище',
                        placeholder: 'Прізвище',
                        class: 'f-field--light',
                        name: 'surname',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/field.twig' with {
                        label: 'Email',
                        placeholder: 'Email',
                        class: 'f-field--light',
                        name: 'email',
                        type: 'email',
                        attrs: 'required'
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/field.twig' with {
                        label: 'Номер телефону',
                        placeholder: '+380 00 000 00 00',
                        name: 'phone',
                        class: 'f-field--light',
                        type: 'tel',
                        attrs: 'required'
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/textarea.twig' with {
                        label: 'Ваше запитання',
                        placeholder: 'Ваше запитання',
                        name: 'comment',
                        class: 'f-field--light',
                        attrs: 'rows="3"'
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/select.twig' with {
                        label: 'Тип запитання',
                        placeholder: 'Тип запитання',
                        name: 'type',
                        class: 'f-field--light',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/select.twig' with {
                        label: 'Тип запитання 2',
                        placeholder: 'Тип запитання 2',
                        name: 'type2',
                        class: 'f-field--light',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/select.twig' with {
                        label: 'Тип запитання 3',
                        placeholder: 'Тип запитання 3',
                        name: 'type3',
                        class: 'f-field--light',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/counter.twig' with {
                        label: 'Кількість',
                        name: 'count',
                        class: 'f-field--light',
                        error: 'Помилка',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/check.twig' with {
                        label: 'Я погоджуюсь з умовами обробки персональних даних',
                        type: 'checkbox',
                        class: 'f-field--light',
                        name: 'agree1',
                    } %}
                </div>
                <div class="f-group">
                    {% include '_form/check.twig' with {
                        label: 'Я погоджуюсь з умовами обробки персональних даних',
                        type: 'radio',
                        class: 'f-field--light',
                        name: 'agree2',
                    } %}
                </div>

                <div class="f-submit">
                    <div class="f-info c-text">Використовуючи сайт, ви&nbsp;приймаєте та&nbsp;погоджуєтеся з&nbsp;цими <a href="#">правилами та&nbsp;умовами використання</a> сайту</div>

                    <button type="submit" class="f-btn f-btn--primary f-btn--block f-btn--rounded" disabled>Відправити</button>
                </div>
            </form>
        </div>
    </div>

    {# Таби #}
    <div class="text-center c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Таби</h2>

        <div data-tabs-parent>
            {% set tabs = [
                {
                    title: 'Таб 1',
                    id: 'tabs1',
                },
                {
                    title: 'Таб 2',
                    id: 'tabs2',
                },
                {
                    title: 'Таб 3',
                    count: 10,
                    id: 'tabs3',
                },
            ] %}

            {% include "_components/tabs.twig" with { links: tabs, class: 'mb-5' } %}

            {% for item in tabs %}
                <div class="c-tabs__panel {{ loop.first ? 'is-shown' }}" id="{{ item.id }}" data-tabs-panel>
                    {{ item.title }}
                </div>
            {% endfor %}
        </div>
    </div>

    {# Лейбли #}
    <div class="text-center c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Лейбли</h2>

        {% for text in [ 'Супи', 'Кето' ] %}
            {% include '_components/label.twig' with {
                text: text,
                link: true,
                close: true
            } only %}
        {% endfor %}
        {% for text in [ 'Супи', 'Кето' ] %}
            {% include '_components/label.twig' with {
                text: text,
                class: 'c-label--primary',
                link: true,
                close: true
            } only %}
        {% endfor %}
    </div>

    {# Акордеон #}
    <div class="c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Акордеон</h2>

        {% include "_components/accordion.twig" %}
    </div>

    {# Карта #}
    <div class="c-section l-container">
        <h2 class="c-title c-title--h3 mb-7">Карта</h2>

        {% include "_components/map.twig" %}

        {% include "_components/pagination.twig" with { class: 'mt-3' } only %}
    </div>
{% endblock %}
