@mixin scrollbar-sm {
    &::-webkit-scrollbar {
        width: theme(spacing.1);
        height: theme(spacing.1);
    }

    &::-webkit-scrollbar-track {
        background-color: theme(colors.gray.200);
    }

    &::-webkit-scrollbar-thumb {
        background-color: theme(colors.primary.DEFAULT);
    }
}

@mixin figcaption {
    position: absolute;
    z-index: 1;
    right: theme(spacing.2);
    bottom: theme(spacing.2);

    padding: theme(spacing[0.5]) theme(spacing.2);
    border-radius: theme(borderRadius.full);

    font-size: theme(fontSize.xs);
    color: theme(colors.white);

    opacity: 1;
    background-color: theme(colors.black / 50%);
}
