:root {
    --transition-duration: theme(transitionDuration.base);
    --transition-timing-function: theme(transitionTimingFunction.base);
    --transition-property: var(--transition-duration) var(--transition-function);

    --header-height: 60px;

    --page-space: theme(spacing.10);

    --box-space: theme(spacing.5);

    --col-gap: theme(spacing.8);

    --input-color: currentColor;
    --input-border-color: currentColor;
    --input-border-active-color: theme(colors.primary.DEFAULT);
    --input-height: theme(spacing.13);
    --input-border-width: 2px;
    --input-pt: theme(spacing.4);
    --input-pb: theme(spacing.1);
    --input-spacing: var(--input-pt) 0 var(--input-pb);
    --input-font-size: theme(fontSize.base);
    --input-line-height: calc(var(--input-height) - var(--input-top) - var(--input-border-width));

    --btn-bg: theme(colors.white);
    --btn-text: theme(colors.black);

    --icon-size: theme(spacing.6);

    --container-width: 100%;
    --container-offset: calc((min(100vw, var(--wrapper-width, 100vw)) - var(--container-width) + (var(--box-space) * 2)) / 2);

    @screen sm {
        --container-width: theme(maxWidth[sm]);
    }

    @screen md {
        --box-space: theme(spacing.8);

        --container-width: theme(maxWidth[md]);
    }

    @screen lg {
        --box-space: theme(spacing.10);

        --container-width: theme(maxWidth[lg]);
    }

    @screen xl {
        --box-space: theme(spacing.12);

        --container-width: theme(maxWidth[xl]);
    }

    @screen 2xl {
        --container-width: theme(maxWidth[2xl]);
    }
}
