.c-footer {
    margin-top: theme(spacing.15);
    background-color: theme(colors.text);
    color: theme(colors.body);
    padding: theme(spacing.5) 0;
    position: relative;
    z-index: 1;

    &__top {
        display: grid;
        gap: theme(spacing.5);
        margin-bottom: theme(spacing.10);
    }

    &__bottom {
        display: grid;
        gap: theme(spacing.10);

        &-left {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-right {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__privacy {
        width: 100%;
        margin-bottom: theme(spacing.7);
    }

    &__copy {
        padding-right: theme(spacing.5);
    }

    &__contacts {
        line-height: 1;

        dd {
            margin-bottom: theme(spacing.4);
        }

        &-lg {
            font-size: theme(fontSize.6);
            font-weight: 700;
        }
    }

    .c-ideil {
        flex-shrink: 0;
    }

    @screen sm {

        &__privacy {
            width: auto;
            margin-bottom: 0;
        }

        &__contacts {

            &-lg {
                font-size: theme(fontSize.8);
            }
        }
    }

    @screen md {
        padding: theme(spacing.8) 0;
        margin-top: theme(spacing.20);

        &__top {
            margin-bottom: theme(spacing.5);
            justify-content: space-between;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &__bottom {
            gap: theme(spacing.5);
            align-items: flex-end;
            justify-content: space-between;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &__logo {
            max-width: 10rem;
        }

        &__privacy {
            order: 1;
        }
    }

    @screen lg {

        &__contacts {

            &-lg {
                font-size: theme(fontSize.9);
            }
        }
    }

    @screen xl {

        &__top {
            margin-bottom: theme(spacing.24);
        }

        &__contacts {
            width: 100%;
            max-width: 66.666%;
            margin-left: auto;
        }

        .c-ideil {
            width: 100%;
            max-width: 66.666%;
            margin-left: auto;
        }
    }

    @screen 2xl {

        &__contacts {

            &-lg {
                font-size: theme(fontSize.11);
            }
        }
    }
}
