.c-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: theme(zIndex.header);
    line-height: 1;
    color: theme(colors.text);
    background-color: theme(colors.body);
    border-bottom: 1px solid theme(colors.gray.200);

    &__inner {
        height: theme(spacing.headerHeight);
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: theme(spacing.8);
        align-self: center;
        transition-property: width, padding;
    }

    &__hamburger {
        margin-left: auto;
        line-height: 0;

        &-btn {
            display: block;
            margin: calc(theme(spacing.5) * -1);
            padding: theme(spacing.5);
        }

        &-icon {
            display: block;
            height: theme(spacing.4);
            width: theme(spacing.6);
            position: relative;

            div {
                height: theme(spacing[0.5]);
                width: 100%;
                position: absolute;
                flex-shrink: 0;
                left: 0;
                transform-origin: center;
                background-color: currentColor;
                transition-property: width, inset, transform;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: calc(50% - 1px);
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }
    }

    @screen xl {

        &__logo {
            margin-right: theme(spacing.15);
        }
    }
}

.is-menu-open {

    .c-header {

        &__hamburger {

            &-icon {

                div {

                    &:nth-child(1) {
                        top: calc(50% - 1px);
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        width: 0;
                        left: 50%;
                    }

                    &:nth-child(3) {
                        top: calc(50% - 1px);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
