.c-header {
    position: fixed;
    z-index: theme(zIndex.header);
    top: 0;
    left: 0;

    width: 100%;
    padding-right: var(--body-scroll-width);
    border-bottom: 1px solid theme(colors.gray.200);

    color: theme(colors.text);

    background-color: theme(colors.body);

    &__inner {
        display: flex;
        align-items: center;
        height: theme(spacing.header);
    }

    &__logo {
        width: theme(spacing.28);
        margin-right: theme(spacing.8);
    }

    &__hamburger {
        margin-left: auto;

        &-icon {
            position: relative;
            display: block;
            width: theme(spacing.6);
            height: theme(spacing.4);

            div {
                position: absolute;
                left: 0;
                transform-origin: center;

                flex-shrink: 0;

                width: 100%;
                height: theme(spacing[0.5]);

                background-color: currentcolor;

                transition-property: width, inset, transform;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: calc(50% - 1px);
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }

        &[aria-expanded='true'] {
            .c-header__hamburger-icon {
                div {
                    &:nth-child(1) {
                        top: calc(50% - 1px);
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        left: 50%;
                        width: 0;
                    }

                    &:nth-child(3) {
                        top: calc(50% - 1px);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
