.i-icon {
    pointer-events: none;
    width: var(--icon-size, theme(spacing.6));
    height: var(--icon-size, theme(spacing.6));
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
.i-icon--left {
    transform: rotate(180deg);
}
.i-icon--top {
    transform: rotate(-90deg);
}
.i-icon--right {
}
.i-icon--bottom {
    transform: rotate(90deg);
}
