.c-ideil {

    svg, img {
        height: theme(spacing.5);
        width: auto;

        *:not([fill='#ED2024']) {
            fill: currentColor;
        }
    }

    &__link {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        color: currentColor !important;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: currentColor;
            transform-origin: right;
            transform: scaleX(0);
            transition: .4s transform cubic-bezier(.15,.85,.45,1);
        }

        &:hover {

            &:after {
                transition: .6s transform cubic-bezier(.77,0,.18,1);
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }
}
