.is-menu-open body {
    overflow: hidden;
}

.c-menu {
    z-index: theme(zIndex.10);
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: theme(colors.body);
    color: theme(colors.text);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity,
        visibility;

    &__inner {
        min-height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        padding-top: theme(spacing.5);
        padding-bottom: theme(spacing.15);
    }

    &__nav {
        --nav-padding: theme(spacing.4);
        margin-top: auto;
        font-size: theme(fontSize.xl);
        line-height: 1;
        transform: translateY(-20px);
        transition-property: transform;

        .c-nav {

            &__list {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__socials {
        padding-top: theme(spacing.15);
        margin-top: auto;
    }
}

.is-menu-open {

    .c-menu {
        opacity: 1;
        visibility: visible;

        &__nav {
            transform: none;
        }
    }
}
