:root {
    color-scheme: light;
}

:focus-visible {
    outline-color: var(--color-black);
    outline-width: 2px;
    outline-offset: 4px;
}

*,
*::before,
*::after {
    scroll-margin: calc(var(--spacing-header) + var(--spacing-page));

    min-width: 0;
    min-height: 0;
    border-color: var(--color-gray-light);

    word-break: keep-all;
    word-wrap: break-word;

    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
    transition-property: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding-top: calc(var(--spacing-header) + var(--spacing-page));
    padding-right: var(--body-scroll-width);

    font-size: var(--text-base);
    -webkit-font-smoothing: antialiased;
    line-height: var(--leading-normal);
    color: var(--color-text);
    text-rendering: optimizelegibility !important;

    background-color: var(--color-body);

    .is-nospace & {
        padding-top: 0;
    }

    > main {
        flex-grow: 1;
    }
}

a,
button {
    color: currentcolor;
    transition-property: border-color, background-color, color, opacity;

    -webkit-tap-highlight-color: transparent;

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: inline-block;
}
