<div
    class="c-modal text-center"
    role="dialog"
    id="testModal"
    tabindex="-1"
    aria-labelledby="testModalTitle"
>
    <div class="c-modal__dialog">
        <div class="c-modal__content">
            <div class="c-modal__body">
                <div class="c-title c-title--h3 mb-5" id="testModalTitle">Приклад</div>
                <p class="mb-4">Приклад</p>

                <button class="f-btn f-btn--primary" data-tooltip-type="clickable" data-tooltip-target="#testTooltip" data-tooltip-placement="right">
                    Tooltip Clickable {% include '_app/icon.twig' with { name: 'arrow' } only %}
                </button>
            </div>

            <button type="button" class="f-btn f-btn--icon c-modal__close" data-modal-dismiss aria-label="Закрити">
                {% include "_app/icon.twig" with { name: 'close' } only %}
            </button>
        </div>
    </div>
</div>
