.f-group {
    position: relative;
    width: 100%;
    margin-bottom: var(--f-group-space);
}

.f-label {
    display: flex;
    align-items: center;

    margin-bottom: var(--f-label-space);

    font-size: var(--f-label-font-size);
    line-height: var(--f-label-line-height);
    color: var(--f-label-color);

    opacity: 0.9;

    .f-field--float ~ & {
        pointer-events: none;

        position: absolute;
        top: 0;
        inset-inline: var(--f-field-px);
        transform-origin: 0;

        height: var(--f-field-height);
        margin: 0;

        text-overflow: ellipsis;
        white-space: nowrap;

        opacity: 0.7;

        transition-property: opacity, transform;

        &:has(~ .f-field__icon) {
            right: var(--f-label-icon-width);
        }

        .f-field__icon ~ & {
            left: var(--f-label-icon-width);
        }
    }

    .f-field.f-field--float:focus ~ &,
    .f-field.f-field--float:not(:placeholder-shown, :focus) ~ &,
    .f-select.f-field--float.is-active ~ &,
    .f-select.f-field--float.is-filled ~ & {
        transform: translateY(calc(var(--f-field-height) * -0.25))
            scale3d(0.75, 0.75, 1);
    }
}

.f-info {
    display: block;

    margin: var(--f-info-space) 0;

    font-size: var(--f-info-font-size);
    font-weight: 400;
    line-height: var(--f-info-line-height);

    a {
        text-decoration: underline;
    }

    &--error {
        color: var(--f-error);
    }
}

.f-submit {
    margin-top: var(--f-submit-space);

    .f-info {
        margin: theme(spacing.5) 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
