.f-field {
    width: 100%;
    min-height: theme(spacing.field);
    padding: theme(spacing[2]) theme(spacing.4);
    border: 1px solid theme(color.field);

    font-size: theme(fontSize.base);
    line-height: 1.4;
    color: currentcolor;
    text-align: left;
    vertical-align: middle;

    appearance: none;
    background: none;
    box-shadow: none;

    transition-property: border-color;

    &::placeholder,
    &.f-field--placeholder {
        color: theme(color.placeholder);
    }

    &:-webkit-autofill {
        background-color: transparent;
        box-shadow: 0 0 0 60px theme(color.gray.100) inset;

        -webkit-text-fill-color: theme(color.text);
    }

    &:has(~ .f-icon) {
        padding-right: theme(spacing.field);
    }

    .f-icon ~ & {
        padding-left: theme(spacing.field);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    textarea& {
        height: auto;
    }

    &--error {
        border-color: theme(color.red.500);
    }

    &--float {
        padding-top: theme(spacing.4);
        padding-bottom: 0;

        &::placeholder {
            color: transparent;
            transition-property: color;
        }

        &:focus,
        &:not(:placeholder-shown, :focus) {
            &::placeholder {
                color: theme(color.placeholder);
            }
        }
    }
}

.f-icon {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: theme(spacing.field);
    height: theme(spacing.field);

    .f-field + & {
        right: 0;
        left: initial;
    }
}

.f-label {
    display: block;
    margin-bottom: theme(spacing.1);
    font-size: theme(fontSize.base);
    text-align: left;

    .f-field--float ~ & {
        pointer-events: none;

        position: absolute;
        top: 0;
        inset-inline: theme(spacing.4);
        transform-origin: top left;

        display: flex;
        align-items: center;

        height: theme(spacing.field);
        margin: 0;

        color: theme(color.placeholder);
        text-overflow: ellipsis;
        white-space: nowrap;

        transition-property: transform;

        &:has(~ .f-icon) {
            right: theme(spacing.field);
        }

        .f-icon ~ & {
            left: theme(spacing.field);
        }
    }

    .f-field.f-field--float.is-filled ~ &,
    input.f-field.f-field--float:not(:placeholder-shown, :focus) ~ &,
    input.f-field.f-field--float:focus ~ & {
        transform: translateY(calc(theme(spacing.field) * -0.15))
            scale3d(0.75, 0.75, 1);
    }
}

.f-group {
    position: relative;
    width: 100%;
    margin-bottom: theme(spacing.5);
}

.f-info {
    display: block;
    margin: theme(spacing.1) 0;
    font-size: theme(fontSize.xs);

    a {
        text-decoration: underline;
    }

    &--error {
        color: theme(color.error);
    }
}

.f-submit {
    margin-top: theme(spacing.6);
}
