.f-btn {
    display: inline-flex;
    flex-shrink: 0;
    gap: theme(spacing.2);
    align-items: center;
    justify-content: center;

    max-width: 100%;
    height: theme(spacing.button);
    padding: 0 theme(spacing.4);
    border: 2px solid transparent;

    font-size: theme(fontSize.base);
    color: currentcolor;
    text-decoration: none;
    vertical-align: middle;

    appearance: none;
    background-color: transparent;

    transition-property: background-color, color, border-color;

    .i-icon {
        font-size: var(--button-icon-size);
    }

    @media (hover: hover) {
        a&:hover,
        button&:hover {
            color: theme(colors.primary.DEFAULT);
            text-decoration: none;
        }
    }

    /* stylelint-disable-next-line order/order */
    &--primary {
        color: theme(colors.white);
        background-color: theme(colors.primary.DEFAULT);

        @media (hover: hover) {
            a&:hover,
            button&:hover {
                color: theme(colors.white);
                background-color: theme(colors.primary.hover);
            }
        }
    }

    &--primary-outline {
        border-color: theme(colors.primary.DEFAULT);

        @media (hover: hover) {
            a&:hover,
            button&:hover {
                border-color: theme(colors.primary.hover);
                color: theme(colors.white);
                background-color: theme(colors.primary.hover);
            }
        }
    }

    &--icon {
        min-width: theme(spacing.button);
        padding-right: theme(spacing.2);
        padding-left: theme(spacing.2);
    }

    &:disabled,
    &.is-disabled,
    &--disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
