.f-btn {
    appearance: none;
    height: theme(spacing.12);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 0 theme(spacing.8);
    font-size: theme(fontSize.md);
    line-height: theme(lineHeight.tight);
    font-weight: 700;
    transition-property:
        background-color,
        color,
        border-color,
        box-shadow;

    &:disabled,
    &.is-disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    .i-icon {
        margin-right: theme(spacing.2);
    }

    &--sm {
        height: theme(spacing.10);
    }

    &--lg {
        height: theme(spacing.16);
    }

    &--primary {
        background-color: theme(colors.primary.DEFAULT);
        color: theme(colors.white);

        &:hover,
        &:focus {
            opacity: 1;
            background-color: color(theme(colors.primary.DEFAULT) blackness(+10%));
            color: theme(colors.white);
        }
    }

    &--rounded {
        border-radius: 999px;
    }

    &--link {

        &:hover {
            text-decoration: none;
            color: theme(colors.primary.DEFAULT);
        }
    }

    &--overlay {

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    &--block {
        width: 100%;
    }

    &--disabled {
        pointer-events: none;
        opacity: 0.2;
    }

    &--arrow {
        width: 64px;
        height: 64px;
        padding: 10px;
        border-radius: 999px;

        & .i-icon {
            margin: 0;
            width: 18px;
            height: 18px;
        }
    }
}
