.f-counter {
    display: inline-flex;
    align-items: center;
    border: var(--f-field-border-width) solid var(--f-field-border-color);
    height: var(--input-height);

    &__field {
        max-width: theme(spacing.12);
        border: none;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
