.f-counter {
    display: inline-flex;
    align-items: center;
    height: var(--spacing-field);
    border: 1px solid var(--color-field);

    &__field {
        max-width: --spacing(12);
        border: none;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            margin: 0;
            appearance: none;
        }
    }
}
