.f-counter {
    --f-button-height: var(--f-field-height);

    display: inline-flex;
    align-items: center;

    height: var(--f-field-height);
    border: var(--f-field-border-width) solid var(--f-field-border-color);
    border-radius: var(--f-field-border-radius);

    &__field {
        max-width: theme(spacing.12);
        border: none;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            margin: 0;
            appearance: none;
        }
    }
}
