@import 'v-calendar/dist/style.css';

.vc-container,
.vc-light,
.vc-light.vc-attr,
.vc-light .vc-attr {
    --vc-gray-50: theme(colors.gray.50);
    --vc-gray-100: theme(colors.gray.100);
    --vc-gray-200: theme(colors.gray.200);
    --vc-gray-300: theme(colors.gray.300);
    --vc-gray-400: theme(colors.gray.400);
    --vc-gray-500: theme(colors.gray.500);
    --vc-gray-600: theme(colors.gray.600);
    --vc-gray-700: theme(colors.gray.700);
    --vc-gray-800: theme(colors.gray.800);
    --vc-gray-900: theme(colors.gray.900);

    --vc-rounded: 0;
    --vc-rounded-md: 0;
    --vc-rounded-lg: 0;

    --vc-color: theme(colors.text);
    --vc-font-family: theme(fontFamily.sans);

    --vc-weekday-color: var(--vc-color);

    --vc-focus-ring: 0 0 0 2px theme(colors.black / 10%);

    --vc-nav-item-active-bg: theme(colors.black);

    --vc-highlight-solid-bg: theme(colors.primary.DEFAULT);

    --popover-vertical-content-offset: 0;

    --vc-slide-translate: theme(spacing.1);
    --vc-slide-duration: var(--transition-duration);
    --vc-slide-timing: var(--transition-timing-function);
}
