.f-group {
    position: relative;
    width: 100%;
    margin-bottom: theme(spacing.7);
}

.f-input {
    vertical-align: middle;
    text-align: left;
    appearance: none;
    width: 100%;
    padding: theme(spacing.5) 0 0;
    height: 52px;
    color: currentColor;
    font-size: theme(fontSize.base);
    font-weight: 700;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: currentColor;
    box-shadow: none;
    outline: none;
    transition-property: border-color, outline;

    &::placeholder {
        color: transparent;
        font-weight: 400;
        transition-property: color;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &:-webkit-autofill {
        background-color: transparent;
        -webkit-text-fill-color: theme(colors.white);
        box-shadow: 0 0 0 60px color(theme(colors.body) lightness(+10%)) inset !important;
    }

    &:focus {
        border-color: theme(colors.primary.DEFAULT);
    }

    &:focus,
    &:not(:placeholder-shown):not(:focus) {

        &::placeholder {
            color: currentColor;
            opacity: .5;
        }
    }

    &.has-error {
        border-color: theme(colors.red.500);
    }

    textarea& {
        height: auto;
    }
}

.f-label {
    color: currentColor;
    opacity: .6;
    font-size: theme(fontSize.md);
    line-height: 1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 51px;
    pointer-events: none;
    transition-property: height, font-size;

    .f-input:focus ~ &,
    .f-input.is-filled ~ &,
    .f-input:not(:placeholder-shown).f-input:not(:focus) ~ & {
        font-size: theme(fontSize.xs);
        height: theme(spacing.5);
    }
}

.f-info {
    font-size: theme(fontSize.xs);
    display: block;
    line-height: theme(lineHeight.tight);
    margin-top: theme(spacing.1);

    &.f-info--error {
        color: theme(colors.red.500);
    }

    a {
        text-decoration: underline;
    }
}

.f-submit {
    margin-top: theme(spacing.15);

    & .f-info {
        margin: theme(spacing.5) 0;
    }
}
