.f-group {
    position: relative;
    width: 100%;
    margin-bottom: theme(spacing.6);
}

.f-input {
    vertical-align: middle;
    text-align: left;
    appearance: none;
    width: 100%;
    padding: var(--input-spacing);
    line-height: var(--input-line-height);
    color: var(--input-color);
    font-size: var(--input-font-size);
    font-weight: 400;
    background: transparent;
    border: none;
    border-bottom: var(--input-border-width) solid var(--input-border-color);
    box-shadow: none;
    outline: none;
    transition-property: border-color, outline;

    &::placeholder {
        color: transparent;
        font-weight: 400;
        transition-property: color;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &:-webkit-autofill {
        background-color: transparent;
        -webkit-text-fill-color: theme(colors.text);
        box-shadow: 0 0 0 60px theme(colors.gray.100) inset !important;

        .u-invert & {
            -webkit-text-fill-color: theme(colors.white);
            box-shadow: 0 0 0 60px theme(colors.gray.900) inset !important;
        }
    }

    &:focus,
    &:hover {
        border-color: var(--input-border-active-color);
    }

    &:focus,
    &:not(:placeholder-shown):not(:focus) {

        &::placeholder {
            color: currentColor;
            opacity: .5;
        }
    }

    &.has-error {
        border-color: theme(colors.red.500);
    }

    textarea& {
        height: auto;
    }
}

.f-icon {
    --icon-size: theme(spacing.5);
    position: absolute;
    right: 0;
    top: 0;
    height: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-label {
    color: currentColor;
    opacity: .6;
    font-size: var(--input-font-size);
    line-height: 1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: var(--input-height);
    pointer-events: none;
    transition-property: height, font-size;

    .f-input:focus ~ &,
    .f-input:not(:placeholder-shown).f-input:not(:focus) ~ &,
    .is-filled ~ &,
    .f-select.is-active ~ & {
        font-size: theme(fontSize.2xs);
        height: theme(spacing.3);
    }
}

.f-info {
    font-size: theme(fontSize.2xs);
    display: block;
    line-height: theme(lineHeight.tight);
    margin-top: theme(spacing.1);

    &.f-info--error {
        color: theme(colors.red.500);
    }

    a {
        text-decoration: underline;
    }
}

.f-submit {
    margin-top: theme(spacing.8);

    .f-info {
        margin: theme(spacing.5) 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
