.f-rating {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: theme(spacing.1);
    line-height: 0;

    &__field {
        pointer-events: none;
        position: absolute;
        width: 0;
        clip: rect(0, 0, 0, 0);
    }

    &__label {
        cursor: pointer;
        color: theme(color.placeholder);
        transition-property: color;

        .f-rating__field:checked ~ & {
            color: currentcolor;
        }

        .f-rating:has(.f-rating__label:hover) .f-rating__field:hover ~ & {
            color: currentcolor;
        }
    }
}
