.f-rating {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: var(--f-rating-gap);
    line-height: 0;

    &__field {
        pointer-events: none;
        position: absolute;
        width: 0;
        clip: rect(0, 0, 0, 0);
    }

    &__label {
        cursor: pointer;
        color: var(--f-field-placeholder-color);
        transition-property: color;

        .f-rating__field:checked ~ & {
            color: var(--f-active);
        }

        .f-rating:has(.f-rating__label:hover) .f-rating__field:hover ~ & {
            color: var(--f-hover);
        }
    }
}
