.f-rating {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: var(--f-rating-gap);
    line-height: 0;

    &__field {
        position: absolute;
        clip: rect(0,0,0,0);
        width: 0;
        pointer-events: none;
    }

    &__label {
        color: var(--f-field-placeholder-color);
        transition-property: color;
        cursor: pointer;

        .f-rating__field:checked ~ & {
            color: var(--f-active);
        }

        /* .f-rating:has(.f-rating__label:hover) & {
            color: var(--f-field-placeholder-color);
        } */

        .f-rating:has(.f-rating__label:hover) .f-rating__field:hover ~ & {
            color: var(--f-hover);
        }
    }
}
