/* @import 'vue-next-select/dist/index.css'; */
@import '@vueform/multiselect/themes/default.css';

.f-select {
    --ms-radius: 0;
    --ms-color: var(--input-color);
    --ms-border-width: var(--input-border-width);
    --ms-border-color: var(--input-border-color);
    --ms-bg: transparent;
    --ms-px: 0;
    --ms-font-size: var(--input-font-size);

    --ms-dropdown-radius: 0;
    --ms-dropdown-border-width: 0;
    --ms-dropdown-border-color: none;
    --ms-dropdown-bg: theme(colors.white);

    --ms-option-bg-pointed: theme(colors.gray.100);
    --ms-option-color-pointed: theme(colors.text);
    --ms-option-px: theme(spacing.4);

    --ms-option-bg-selected: theme(colors.primary.DEFAULT);
    --ms-option-color-selected: theme(colors.white);

    --ms-option-bg-selected-pointed: theme(colors.primary.DEFAULT);
    --ms-option-color-selected-pointed: var(--ms-option-color-selected);

    --ms-tag-bg: theme(colors.primary.DEFAULT);
    --ms-tag-radius: theme(borderRadius.none);

    --ms-caret-color: currentColor;

    min-height: 0;
    color: currentColor;
    border: none;
    box-shadow: none !important;

    .multiselect-wrapper {
        border-bottom: var(--ms-border-width) solid var(--ms-border-color);
        min-height: var(--input-height);
    }

    .multiselect-dropdown {
        margin: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: theme(boxShadow.lg);
        transition-property: transform, opacity, visibility;

        &.is-hidden {
            transform: translateY(calc(100% - theme(spacing.1)));
            display: block;
            opacity: 0;
            visibility: hidden;
        }
    }

    .multiselect-option {
        transition-property: background-color,
            color;
    }

    .multiselect-caret {
        height: theme(space.4);
        width: theme(space.4);
        margin-left: theme(space.3);
        transform: rotate(90deg);
        mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='13' viewBox='0 0 8 13' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.4654 6.493L0.274414 10.8624L1.74575 12.2742L7.27441 6.49298L1.74575 0.726562L0.274414 2.13845L4.4654 6.493Z' /%3e%3c/svg%3e");

        &.is-open {
            transform: rotate(270deg);
        }
    }

    .multiselect-single-label,
    .multiselect-multiple-label,
    .multiselect-tags {
        padding: var(--input-spacing);
    }

    &.is-active {
        border: none;

        .multiselect-wrapper {
            border-color: var(--input-border-active-color);
        }
    }
}
