@import '@vueform/multiselect/themes/default.css';

.f-select {
    --ms-radius: var(--f-field-border-radius);
    --ms-color: var(--f-field-color);
    --ms-border-width: var(--f-field-border-width);
    --ms-border-color: var(--f-field-border-color);
    --ms-bg: var(--f-field-bg);
    --ms-px: var(--f-field-px);
    --ms-font-size: var(--f-field-font-size);
    --ms-placeholder-color: var(--f-field-placeholder-color);
    --ms-clear-color: var(--f-field-placeholder-color);
    --ms-clear-color-hover: var(--f-hover);
    --ms-dropdown-radius: var(--f-field-border-radius);
    --ms-dropdown-border-width: 0;
    --ms-dropdown-border-color: none;
    --ms-dropdown-bg: theme(colors.white);
    --ms-option-bg-pointed: theme(colors.primary.hover);
    --ms-option-color-pointed: theme(colors.white);
    --ms-option-px: theme(spacing.4);
    --ms-option-bg-selected: theme(colors.primary.DEFAULT);
    --ms-option-color-selected: theme(colors.white);
    --ms-option-bg-selected-pointed: theme(colors.primary.hover);
    --ms-option-color-selected-pointed: var(--ms-option-color-selected);
    --ms-tag-bg: theme(colors.primary.DEFAULT);
    --ms-tag-radius: theme(borderRadius.full);
    --ms-caret-color: currentcolor;

    min-height: 0;
    padding: 0;
    border: none;
    color: currentcolor;

    .multiselect-wrapper {
        min-height: var(--f-field-height);
        border: var(--ms-border-width) solid var(--ms-border-color);
        border-radius: var(--ms-radius);
    }

    .multiselect-dropdown {
        right: 0;
        left: 0;

        margin: 0;

        color: theme(colors.text);

        box-shadow: theme(boxShadow.lg);

        transition-property: transform, opacity, visibility;

        &.is-hidden {
            transform: translateY(calc(100% + theme(spacing.1)));
            display: block;
            visibility: hidden;
            opacity: 0;
        }
    }

    .multiselect-option {
        transition-property: background-color, color;
    }

    .multiselect-caret {
        transform: rotate(90deg);

        width: theme(space.4);
        height: theme(space.4);
        margin-left: theme(space.3);

        mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='13' viewBox='0 0 8 13' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.4654 6.493L0.274414 10.8624L1.74575 12.2742L7.27441 6.49298L1.74575 0.726562L0.274414 2.13845L4.4654 6.493Z' /%3e%3c/svg%3e");

        &.is-open {
            transform: rotate(270deg);
        }
    }

    .multiselect-single-label,
    .multiselect-multiple-label,
    .multiselect-placeholder,
    .multiselect-tags {
        padding: var(--f-field-py) var(--f-field-px);
    }

    &.is-active {
        border: none;
        box-shadow: none;

        .multiselect-wrapper {
            border-color: var(--f-active);
        }
    }

    &.f-field--float {
        .multiselect-single-label,
        .multiselect-multiple-label,
        .multiselect-placeholder,
        .multiselect-tags {
            padding-top: calc(var(--f-field-py) * 1.75);
            padding-bottom: 0;
        }

        .multiselect-placeholder {
            color: transparent;
            transition-property: color;
        }

        &.is-active {
            .multiselect-placeholder {
                color: var(--ms-placeholder-color);
            }
        }
    }
}
