<!DOCTYPE html>
<html lang="uk" class="{{ htmlClass }}">

{% include '../_app/head.twig' %}

<body class="{{ bodyClass }}">
    {% include '../_app/header.twig' %}
    {% include '../_app/menu.twig' %}

    <main class="{{ mainClass }}">
        {% block content %}{% endblock %}
    </main>

    {% include '../_app/footer.twig' %}

    {# {% include '../_app/cookies.twig' %} #}

    {% include '../_components/modals.twig' %}
    {% include '../_components/tooltips.twig' %}

    {{ additionalScripts }}
</body>

</html>
