<!doctype html>
<html lang="uk" class="{{ htmlClass }}">

{% include '_app/head.twig' %}

<body class="{{ bodyClass }}">
    {% block content %}{% endblock %}

    <script type="module" defer="defer" src="/js@src/app.js"></script>
</body>

</html>
