<!doctype html>
<html lang="uk" class="{{ htmlClass }}">

{% include '_app/head.twig' %}

<body class="{{ bodyClass }}">
    <main class="flex items-center">
        {% block content %}{% endblock %}
    </main>

    <script type="module" defer="defer" src="/js@src/app.js"></script>
</body>

</html>
